.wrapper{
    position: relative;
    width: 100%;
    background-color: #161616;
    overflow: hidden;
    height: 100vh;
}

.absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.textHide {
    overflow: hidden;
    height: 59px;
}

.textWrapper{
    width: 911px;
    display: flex;
    flex-direction: column;
    margin-bottom: 85px;
}


.text{
    display: inline-block;
    color: #D9D9D9;
    font-family: "Acumin Pro Wide";
    font-size: 49px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.5px;
    margin-right: 10px;
}
