@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@font-face {
  font-family: 'Acumin Pro Wide';
  src: url('/acumin-pro-wide.otf');
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body{
  overflow-x: hidden;
}

.scrollText{
  color: #222;
  font-family: "Acumin Pro Wide";
  font-size: 800px;
  margin-top: 60px;
  transform: translateY(-40px);
  font-style: normal;
  font-weight: 600;
  line-height: 85%; /* 680px */
}
