.wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 8;
    pointer-events: none;
    @media (max-width: 1324px) {
        flex-direction: column;
        gap: 55vh;
        align-items: center;
        justify-content: center;
    }
}

// .textWrapper{
//     position: relative;
//     display: flex;
//     justify-content: space-between;
//     width: 100%;

// }

.text{
    position: relative;
    color: #D9D9D9;
    font-family: "Archivo Regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.2px;
    width: 400px;
    margin-inline: 100px;

    @media (max-width: 1324px) {
        margin-inline: 30px;
    }

    @media (max-width: 1000px) {
        text-align: center;
        font-size: 16px;
        width: 90%;
    }
}