.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.relative{
    position: relative;
    width: 100%;
    height: 100%;
}

.relative::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to left, transparent, #161616);
    z-index: 1;
}

.relative::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, transparent, #161616);
    z-index: 1;
}

.ui{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -75%);
    width: 772px;
    height: 290px;
    opacity: 1;
    padding-inline: 40px;
    padding-block: 30px;
    perspective: 1000px;
}

.gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.00) 30%, rgba(0, 0, 0) 100%);
    z-index: 0;
}

.albums{
    position: absolute;
    width: max-content;
    top: 50%;
    left: 0;
    transform: translateY(-78%);
    display: flex;
    gap: 8px;
    animation: scroll 15s linear infinite;

    @keyframes scroll {
        0% {
          transform: translateX(0) translateY(-78%);
        }
        100% {
          transform: translateX(calc((-192px * 6))) translateY(-78%);
        }
      }
}

.time{
    color: #E8E8E8;
    font-family: Manrope;
    font-size: 23.787px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 23.787px */
    letter-spacing: -0.238px;
}

.menuItem {
    color: #E8E8E8;
    font-family: Manrope;
    font-size: 14.867px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14.867px */
    letter-spacing: -0.149px;
    opacity: 0.65;
}

.menuItemSelected {
    color: #E8E8E8;
    font-family: Manrope;
    font-size: 14.867px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 14.867px */
    letter-spacing: -0.149px;
}

.toprow{
    position: relative;
    display: flex;
    align-items: center;
    display: flex;
    gap: 18px;
    margin-bottom: 20px;
}

.header{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: "Acumin Pro Wide";
    font-size: 39px;
    font-style: normal;
    font-weight: 500;
    line-height: 85%;
    color: #FFF;
    // background: linear-gradient(174deg, #FFF -34.04%, #999 79.07%);
    // background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
}

.subtext{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 847px;
    height: 198px;
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 25px */
    letter-spacing: 0.75px;
}