.wrapper{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background: hsl(0, 0%, 9%);
    overflow: hidden;
}

.cards{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    perspective: 1000px;
}

.card{
    transform: translateY(100vh);
}

.overlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
}

.text{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Acumin Pro Wide";
    font-size: 39px;
    font-style: normal;
    font-weight: 500;
    background: linear-gradient(147deg, #FFF -2.84%, #999 77.85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}