.wrapper{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    pointer-events: none;
}

.wrapper img{
    transform: translate(33px, -20px);
    width: 904px;
    pointer-events: none;
    user-select: none;

    @media (max-width: 1324px) {
        width: calc(904px * 0.8);
    }
    
    @media (max-height: 840px) {
        width: calc(904px * 0.8);
    }
}

